@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>

<!--
  Theme Name: Enlight
  Theme URL: https://probootstrap.com/enlight-free-education-responsive-bootstrap-website-template
  Author: ProBootstrap.com
  Author URL: https://probootstrap.com
  License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProBootstrap:Enlight &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by ProBootstrap.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="probootstrap-search" id="probootstrap-search">
        <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
        <form action="#">
            <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
        </form>
    </div>

    <div class="probootstrap-page-wrapper">
        <!-- Fixed navbar -->




        <section class="probootstrap-section probootstrap-section-colored">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left section-heading probootstrap-animate">
                        <h1>About The university</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="probootstrap-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="probootstrap-flex-block">
                            <div class="probootstrap-text probootstrap-animate">
                                <div class="text-uppercase probootstrap-uppercase">History</div>
                                <h3>Take A Look at How We Begin</h3>
                                <p>The Royal Decree was issued to establish Al-Balqa Applied University on August 22, 1996, and the Royal Decree was issued approving its law (Law No. 13 of 1997) on 25/3/1997, and actual teaching began in it as of the academic year 1997/1998.</p>

                            </div>
                            <div class="probootstrap-image probootstrap-animate" style="background-image: url('/img/uuuu.jpg')">
                                <a href="https://www.youtube.com/watch?v=ghtuytXvQGU" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="probootstrap-section">
            <div class="container">

                <div class="col-md-6">
                    <p>
                        <img src="/img/j.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
                    </p>
                </div>
                <div class="col-md-6 col-md-push-1">
                    <h2>Our Vision.</h2>
                    <p>Working to create opportunities for quality university education to contribute to the preparation of human cadres.</p>
                    <p>the university since its establishment has sought to activate its capabilities and capabilities and enrich the experiences of its students, relying on all the scientific and intellectual experiences of its professors and based on all scientific and technological innovations and methods as well as effective social visions in order to serve all sectors and disciplines.</p>
                </div>


            </div>
        </section>
        <style>
            .service {
                width: unset;
            }

            h3 {
                margin: 30px
            }
        </style>

        <section class="probootstrap-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                        <h2>Grades</h2>
                        <p class="lead">The University awards the following degrees for various disciplines recognized by the Council of Higher Education in Jordan and by the Federation of Arab Universities and International Universities and all local and international academic bodies.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12" style="display:flex;justify-content:center;flex-wrap:wrap">
                        <div class="service left-icon probootstrap-animate col-md-12 col-lg-12 col-sm-12">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>Consectetur Adipisicing</h3>
                            </div>
                        </div>
                        <div class="service left-icon probootstrap-animate col-md-12 col-lg-12  col-sm-12">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>Aliquid Dolorum Saepe</h3>
                            </div>
                        </div>
                        <div class="service left-icon probootstrap-animate col-md-12 col-lg-12 col-sm-12">
                            <div class="icon"><i class="icon-checkmark"></i></div>
                            <div class="text">
                                <h3>Eveniet Tempora Anisi</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END row -->
            </div>
        </section>

        <section class="probootstrap-cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Get your admission now!</h2>
                        <a href="/Home/Collages" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Enroll</a>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- END wrapper -->


    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>